/bin/
/obj/
/publish/
/output/

*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.bak

.vs/
.vscode/
*.vspscc
*.vssscc
_ReSharper.Caches/
*.resharper
*.resharper.user
*.pidb

.idea/
*.sln.iml

TestResults/
*.coverage
*.trx
*.runsettings
*.testsettings

/packages/
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
.nuget/
*.nuget.cache

*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal

logs/
*.log
*.txt

.env
.env.*
!.env.example

node_modules/
*.db-shm
*.db-wal
appsettings.Development.json
appsettings.Production.json
*secrets.json
*Secret*.json

src/*/logs/
src/*/*.log

src/*/appsettings.Local.json
src/*/appsettings.*.local.json
**/Migrations/

npm-debug.log*
*.sqlite
*.sqlite3
yarn-debug.log*
*.temp

yarn-error.log*
Thumbs.db
*.tmp

*.dockerignore


